body {
    background-color: #020538;
    min-height: 200vh;
  }

.foot {
    display: flex;
    align-items: center;
    height: 400px;
    background-color: #020432;
    color: #fff;
    /* padding: 0 22px; */
}

#logo img{
    width: 90px;
    height: 50px;
    position: absolute;
    right: 0;
    
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: calc(100vh - 100px);
    position: relative;
}

.head4 {
    font-size: 30px;
    position: relative;
    top:-150px;
    left: 10px;
} 

.head5 {
    width: 400px;
    font-size: 20px;
    position: relative;
    top:0px;
    left: -125px;
    list-style-type: none
} 

.locate {
    width: 400px;
    height: 300px;
    position: absolute;
    right: 100px;
    top: 3030px;
    border-width: 3px;
    border-color: #00579a;
    border-radius: 20px;
    border-style: solid;
}

.contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
    background-color: #020432;
    color: #fff;
    padding: 0 22px;
}

.icons {
    width: 40px;
    height: 40px;
    display: inline;
    float: left;
}

.icon1 {
    width: 20px;
    height: 20px;
    display: inline;
    float: left;
    position: absolute;
    left: -30px;
    bottom: 2px;
    border-color: #020432;
}

.icon2 {
    width: 20px;
    height: 20px;
    display: inline;
    float: left;
    position: absolute;
    left: -30px;
    bottom: 1px;
    border-color: #020432;
}

.icon3 {
    width: 20px;
    height: 20px;
    display: inline;
    float: left;
    position: absolute;
    left: -30px;
    bottom: 0px;
    border-color: #020432;
}

.icon4 {
    width: 22px;
    height: 22px;
    display: inline;
    float: left;
    position: absolute;
    left: -30px;
    bottom: -1px;
    border-color: #020432;
}

.icon5 {
    width: 22px;
    height: 22px;
    display: inline;
    float: left;
    position: absolute;
    left: -30px;
    bottom: 28px;
    border-color: #020432;
}

.here {
    font-size: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    right: 270px;
    top: 2980px;
}

.icon6 {
    width: 35px;
    height: 35px;
    display: inline;
    float: left;
    position: absolute;
    left: -40px;
    bottom: 23px;
    border-color: #020432;
}